In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [6]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
d

{'a': 10, 'b': 20, 'c': 30}

In [16]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [17]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [18]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [19]:
ser2 = pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])

In [20]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [21]:
ser1['USA']

1

In [22]:
ser3 = pd.Series(data=labels)

In [23]:
ser3[0]

'a'

In [24]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [25]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64